.card{
width: 200px;
height: 200px;
border: 2px solid rgb(0,0,0);
display: inline-block;
border-radius: 10px;
box-shadow: 0 4px 8px rgb(0,0,0);
margin: 15px;
transition: 2s box-shadow;
}

.desc{
padding: 0 2px;
}

img{
 width: 100%;
 border-radius: 10px 10px 0 0;
}

.card:hover{
box-shadow: 0px 8px 16px rgb(25, 25, 94);
}