#container{
    height: 500px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
}

#blue{
    flex:2 2 100px;
    align-self:center;
}

#red{
    flex:1 1 100px;
}

h1{
    text-align: center;
}

#container div{
    height: 50px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}