.container{
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;/*flex will have defaul direction as row whereas grid remains in column*/
    /*grid-template-rows: 100px 100px 100px;3 rows of 100px each . block elements takes complete width as column
    other 2 items goes out of container
    if extra space is left then the remaining items divides the space equally.*/
    /*grid-template-rows: 50px 50px 50px 50px 50px;/*5 rows of 50px each*/
    /*grid-template-columns: 200px 200px 200px;/*3 columns of 200px each*/
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;/*5 rows of equal height dividing the total height of container*/
    grid-template-columns: repeat(3,1fr);/*3 columns of equal width dividing the total width of container*/
    grid-gap: 10px;/*gap between rows and columns*/
    /*justify-items: center;
    align-items: end;*/
}

.item{
   /* width: 100px;/*if width and height not specified then item takes complete width and height of the grid cell*/
   /* height: 50px;*/
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

#one{
   /* grid-column-start: 1;
    grid-column-end: 3;/*spans from column 1 to column 3 i.e occupies 2 columns*/
    grid-column: 1/3;
    grid-row: 1/4;/*spans from row 1 to row 3 i.e occupies 2 rows*/
    place-items: center;;
}