div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    margin: 20px;
    border: 3px solid black;
    display: inline-block;
}

#static{
    position: static;
    top: 100px;
    left: 100px;
    background-color: yellow;
}

#relative{
    position: relative;
    top: 100px;
    left: 100px;
    background-color: yellow;
}

#absolute{
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: yellow;
}

#fixed{
    position: fixed;
    top: 100px;
    left: 100px;
    background-color: yellow;
}

#sticky{
    position: sticky;
    top: 100px;
    left: 100px;
    background-color: yellow;
}