#container{
    height: 400px;
    width:400px;
    border: 2px solid lightseagreen;
    border-radius: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 10px auto;
    background-color: azure;
    font-family: Georgia;
}

#container div{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    font-size: 50px;
    border-radius: 10%;
    text-align: center;
    color: black;
}

#q2{
    height: 50px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid lightseagreen;
    background-color: pink;
    border-radius: 10px;
    font-size: 24px;
    align-items: center;
    align-content: center;
    margin: 10px auto;
    font-family: Georgia;
    justify-content: flex-start;
}

#q2 div{
    height: 50px;
    width: 80px;
    color: black;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
    border-radius: 10px;
}