.face{
    height: 400px;
    width: 400px;
    background-color: yellow;
    border-radius: 50%;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 108px;
}

.right, .left{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 108px;
    display: inline-block;
}

.right{
    left:258px;
}